<div class="center-block text-center">
  <%= image_tag('TGlogo2') %>
</div> <br>

<div class="edit-form">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="text-center">Account Settings</h3> <hr>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <% if resource.errors.any? %>
      <div class="devise-errors" role="alert">
        <%= devise_error_messages! %>
      </div>
    <% end %>

      <div class="box-body">
        <div class="form-group">
          <%= f.label 'First Name' %><br>
          <%= f.text_field :firstname, placeholder: 'First name', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Last Name' %><br>
          <%= f.text_field :lastname, placeholder: 'Last name', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br>
          <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
        </div>

        <div id="changePW" class="form-group">
          <%= link_to 'Change Password', '#', id: 'show-fields' %>
        </div>

        <div id="hidden-fields" class="hidden">
          <div class="form-group">
            <%= f.label 'Change password' %> <br>
            <%= f.password_field :password, placeholder: 'New Password', class: 'form-control', autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= f.label 'Confirm password change' %><br>
            <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control', autocomplete: "off" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(Enter current password to confirm changes)</i><br>
          <%= f.password_field :current_password, placeholder: 'Current Password', class: 'form-control', autocomplete: "off" %>
        </div>

      </div>

      <div class="box-footer">
        <%= f.submit 'Update', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <div class="box-footer">
      <h3 id="delete-acct">Delete Account</h3>
      <p>Warning: Deleting your account is perminant and all of your saved settings, info, data etc. will be lost!</p>
       <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: 'btn btn-danger', method: :delete %>
    </div>
  </div>
</div>
