<div class="center-block text-center">
  <%= image_tag('TGlogo2') %>
</div> <br>

<div class="form-wrapper">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="text-center">Sign Up</h3> <hr>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), role: 'form') do |f| %>

    <% if resource.errors.any? %>
      <div class="devise-errors" role="alert">
        <%= devise_error_messages! %>
      </div>
    <% end %>

      <div class="box-body">
        <div class="form-group">
          <%= f.text_field :firstname, placeholder: 'First Name', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.text_field :lastname, placeholder: 'Last Name', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.text_field :username, placeholder: 'Username', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, placeholder: 'Choose Password', class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="form-group">
          <p>
            You must agree to the <%= link_to 'terms & conditions', terms_path, id: 'terms-link' %>
          </p>
        </div>

        <div class="form-group">
          <%= f.check_box :read_terms %>
          <%= f.label 'I agree to the Terms & Conditions' %>
        </div>
      </div>

      <div class="box-footer">
        <%= f.submit "Sign Up", class: 'btn btn-primary bottom-btn' %> <br>
        <%= link_to 'I already have an account', new_admin_session_path %> <br>
        <%= link_to "Home", root_path %>
      </div>
    <% end %>
  </div>
</div>
