<div class="center-block text-center">
  <%= image_tag('TGlogo2') %>
</div> <br>

<div class="form-wrapper">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="text-center">Add a New User</h3> <hr>
    </div>

    <%= form_for @user, url: create_user_path(@user), html: { method: :post } do |f| %>

      <div class="box-body">
        <div class="form-group">
          <%= f.text_field :firstname, placeholder: 'First Name', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.text_field :lastname, placeholder: 'Last Name', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.text_field :username, placeholder: 'Username', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.select :role, [['Manager','Manager'], ['Host','Host'], ['Hostess','Hostess']], prompt: 'Select Role' %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, placeholder: 'Choose Password', class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control', autocomplete: "off" %>
        </div>
      </div>

      <div class="box-footer">
        <%= f.submit "Create User", class: 'btn btn-primary bottom-btn' %>
      </div>
    <% end %>
  </div>
</div>
