<% if admin_signed_in? %>
  <div id="navigate" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <button id="hamburger" type="button" class="navbar-toggle" data-toggle="off-canvas" data-target="#sidebar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="right-nav" class="pull-right">
        <%= link_to root_path do %>
          <%= image_tag('TGlogo3', class: 'nav-logo') %> <font color="white" size="4">TapGuest</font>
        <% end %>
      </div>
    </div>
  </div>

  <nav id="sidebar">
    <ul id="sidebar-list" style="list-style:none;">
      <li id="name-panel">
        <i class="fa fa-user fa-2x"></i> <font size="5"><%= current_admin.username %></font>
      </li>

      <li class="sidebar-items">
        <i class="fa fa-key"></i> Admin
      </li>

      <li class="sidebar-items">
        <i class="fa fa-dashboard"></i> Dashboard
      </li>

      <li class="sidebar-items">
        <%= link_to  edit_admin_registration_path, class: 'sidebar-links'  do %>
          <i class="fa fa-cog"></i> Account Settings
        <% end %>
      </li>

      <li class="sidebar-items">
        <%= link_to edit_location_path(@location), class: 'sidebar-links' do %>
          <i class="fa fa-cutlery"></i> Restaurant Info
        <% end %>
      </li>

      <li class="sidebar-items">
        <%= link_to  destroy_admin_session_path, class: 'sidebar-links', method: :delete do %>
          <i class="fa fa-sign-out"></i> Log Out
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>
